@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* ============================== COMPONENTS START ============================= */

.box {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 2px #00000017;
  border-radius: .8rem;
  margin-right: 1.6rem;
  margin-top: 1.6rem;
  width: 100px;
}

.box:last-child {
  margin-right: 0px;
}

/* ============================== COMPONENTS END ============================= */

/* ============================== MAIN GRID START ============================= */

body {
  height: 100vh;
  font-size: inherit;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.nav {
  background-color: green;
  grid-column: 1/2;
  grid-row: 1/-1;
}
.header {
  background-color: blue;
  grid-column: 2/-1;
  grid-row: 1/3;
}

/* ============================== MAIN GRID END ============================= */



/* ============================== LAYOUT START ============================= */

.main {
  background-color: red;
  grid-column: 2/-1;
  grid-row: 3/-1;
  display: grid;
  background-color: #EEF1F5;
  grid-template-columns: repeat(18, 1fr) ;
  grid-gap: 1.6rem;
}

.services {
  background-color: limegreen;
  grid-column: 3/17;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info {
  background-color: blueviolet;
  grid-column: 3/17;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bank-statement {
  background-color: orangered;
  grid-column: 3/17;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ============================== LAYOUT END ============================= */




